<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivay.ivay_manage.dao.master.XRecordLoanDao">

    <sql id="list_condition">
        <where>
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.gid != null and params.gid != ''">
                and gid = #{params.gid}
            </if>
            <if test="params.bankcardGid != null and params.bankcardGid != ''">
                and bankcard_gid = #{params.bankcardGid}
            </if>
            <if test="params.orderId != null and params.orderId != ''">
                and order_id = #{params.orderId}
            </if>
            <if test="params.userGid != null and params.userGid != ''">
                and user_gid = #{params.userGid}
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and create_time = #{params.createTime}
            </if>
            <if test="params.updateTime != null and params.updateTime != ''">
                and update_time = #{params.updateTime}
            </if>
            <if test="params.productId != null and params.productId != ''">
                and product_id = #{params.productId}
            </if>
            <if test="params.loanPeriod != null and params.loanPeriod != ''">
                and loan_period = #{params.loanPeriod}
            </if>
            <if test="params.loanTime != null and params.loanTime != ''">
                and loan_time = #{params.loanTime}
            </if>
            <if test="params.loanAmount != null and params.loanAmount != ''">
                and loan_amount = #{params.loanAmount}
            </if>
            <if test="params.loanRate != null and params.loanRate != ''">
                and loan_rate = #{params.loanRate}
            </if>
            <if test="params.fee != null and params.fee != ''">
                and fee = #{params.fee}
            </if>
            <if test="params.interest != null and params.interest != ''">
                and interest = #{params.interest}
            </if>
            <if test="params.netAmount != null and params.netAmount != ''">
                and net_amount = #{params.netAmount}
            </if>
            <if test="params.overdueFee != null and params.overdueFee != ''">
                and overdue_fee = #{params.overdueFee}
            </if>
            <if test="params.overdueInterest != null and params.overdueInterest != ''">
                and overdue_interest = #{params.overdueInterest}
            </if>
            <if test="params.overdueFeeTotal != null and params.overdueFeeTotal != ''">
                and overdue_fee_total = #{params.overdueFeeTotal}
            </if>
            <if test="params.overdueInterestTotal != null and params.overdueInterestTotal != ''">
                and overdue_interest_total = #{params.overdueInterestTotal}
            </if>
            <if test="params.loanStatus != null and params.loanStatus != ''">
                and loan_status = #{params.loanStatus}
            </if>
            <if test="params.failReason != null and params.failReason != ''">
                and fail_reason = #{params.failReason}
            </if>
            <if test="params.dueTime != null and params.dueTime != ''">
                and due_time = #{params.dueTime}
            </if>
            <if test="params.dueAmount != null and params.dueAmount != ''">
                and due_amount = #{params.dueAmount}
            </if>
            <if test="params.lastRepaymentTime != null and params.lastRepaymentTime != ''">
                and last_repayment_time = #{params.lastRepaymentTime}
            </if>
            <if test="params.repaymentStatus != null and params.repaymentStatus != ''">
                and repayment_status = #{params.repaymentStatus}
            </if>
            <if test="params.memo != null and params.memo != ''">
                and memo = #{params.memo}
            </if>
        </where>
    </sql>

    <select id="count" resultType="int">
        select count(1) from x_record_loan t
        <include refid="list_condition"/>
    </select>

    <select id="list" resultType="com.ivay.ivay_manage.model.XRecordLoan">
        select * from x_record_loan t
        <include refid="list_condition"/>
        <if test="params.orderBy != null and params.orderBy != ''">
            order by ${params.orderBy} desc
        </if>
        <if test="limit != null and limit != 0">
            limit #{offset}, #{limit}
        </if>
    </select>

    <update id="update">
        update x_record_loan t
        <set>
            <if test="gid != null">
                gid = #{gid},
            </if>
            <if test="bankcardGid  != null">
                bankcard_gid = #{bankcardGid },
            </if>
            <if test="orderId != null">
                order_id = #{orderId},
            </if>
            <if test="userGid != null">
                user_gid = #{userGid},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="productId != null">
                product_id = #{productId},
            </if>
            <if test="loanPeriod != null">
                loan_period = #{loanPeriod},
            </if>
            <if test="loanTime != null">
                loan_time = #{loanTime},
            </if>
            <if test="loanAmount != null">
                loan_amount = #{loanAmount},
            </if>
            <if test="loanRate != null">
                loan_rate = #{loanRate},
            </if>
            <if test="fee != null">
                fee = #{fee},
            </if>
            <if test="interest != null">
                interest = #{interest},
            </if>
            <if test="netAmount != null">
                net_amount = #{netAmount},
            </if>
            <if test="overdueFee != null">
                overdue_fee = #{overdueFee},
            </if>
            <if test="overdueInterest != null">
                overdue_interest = #{overdueInterest},
            </if>
            <if test="overdueFeeTotal != null">
                overdue_fee_total = #{overdueFeeTotal},
            </if>
            <if test="overdueInterestTotal != null">
                overdue_interest_total = #{overdueInterestTotal},
            </if>
            <if test="loanStatus != null">
                loan_status = #{loanStatus},
            </if>
            <if test="failReason != null">
                fail_reason = #{failReason},
            </if>
            <if test="dueTime != null">
                due_time = #{dueTime},
            </if>
            <if test="dueAmount != null">
                due_amount = #{dueAmount},
            </if>
            <if test="lastRepaymentTime != null">
                last_repayment_time = #{lastRepaymentTime},
            </if>
            <if test="repaymentStatus != null">
                repayment_status = #{repaymentStatus},
            </if>
            <if test="memo != null">
                memo = #{memo},
            </if>
        </set>
        where t.id = #{id}
    </update>

    <update id="updateByBatch">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update x_record_loan
            <set>
                <if test="item.gid != null">
                    gid = #{item.gid},
                </if>
                <if test="item.bankcardGid  != null">
                    bankcard_gid = #{item.bankcardGid },
                </if>
                <if test="item.orderId != null">
                    order_id = #{item.orderId},
                </if>
                <if test="item.userGid != null">
                    user_gid = #{item.userGid},
                </if>
                <if test="item.createTime != null">
                    create_time = #{item.createTime},
                </if>
                <if test="item.updateTime != null">
                    update_time = #{item.updateTime},
                </if>
                <if test="item.productId != null">
                    product_id = #{item.productId},
                </if>
                <if test="item.loanPeriod != null">
                    loan_period = #{item.loanPeriod},
                </if>
                <if test="item.loanTime != null">
                    loan_time = #{item.loanTime},
                </if>
                <if test="item.loanAmount != null">
                    loan_amount = #{item.loanAmount},
                </if>
                <if test="item.loanRate != null">
                    loan_rate = #{item.loanRate},
                </if>
                <if test="item.fee != null">
                    fee = #{item.fee},
                </if>
                <if test="item.interest != null">
                    interest = #{item.interest},
                </if>
                <if test="item.netAmount != null">
                    net_amount = #{item.netAmount},
                </if>
                <if test="item.overdueFee != null">
                    overdue_fee = #{item.overdueFee},
                </if>
                <if test="item.overdueInterest != null">
                    overdue_interest = #{item.overdueInterest},
                </if>
                <if test="item.overdueFeeTotal != null">
                    overdue_fee_total = #{item.overdueFeeTotal},
                </if>
                <if test="item.overdueInterestTotal != null">
                    overdue_interest_total = #{item.overdueInterestTotal},
                </if>
                <if test="item.loanStatus != null">
                    loan_status = #{item.loanStatus},
                </if>
                <if test="item.failReason != null">
                    fail_reason = #{item.failReason},
                </if>
                <if test="item.dueTime != null">
                    due_time = #{item.dueTime},
                </if>
                <if test="item.dueAmount != null">
                    due_amount = #{item.dueAmount},
                </if>
                <if test="item.lastRepaymentTime != null">
                    last_repayment_time = #{item.lastRepaymentTime},
                </if>
                <if test="item.repaymentStatus != null">
                    repayment_status = #{item.repaymentStatus},
                </if>
                <if test="item.memo != null">
                    memo = #{item.memo},
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>
</mapper>
