<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivay.ivay_repository.dao.master.XAuditUserDao">

    <sql id="list_condition">
        LEFT JOIN sys_role_user sru ON t.id = sru.userId
        LEFT JOIN sys_role sr ON sr.id = sru.roleId
        <where>
            <if test="params.type != null and params.type != ''">
                and sr.name = #{params.type}
            </if>
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.sysUserId != null and params.sysUserId != ''">
                and sys_user_id = #{params.sysUserId}
            </if>
            <if test="params.userGid != null and params.userGid != ''">
                and user_gid = #{params.userGid}
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and create_time = #{params.createTime}
            </if>
            <if test="params.updateTime != null and params.updateTime != ''">
                and update_time = #{params.updateTime}
            </if>
            <if test="params.enableFlag != null and params.enableFlag != ''">
                and enable_flag = #{params.enableFlag}
            </if>
        </where>
    </sql>

    <select id="count" resultType="int">
        SELECT count(1) FROM sys_user t
        <include refid="list_condition"/>
    </select>

    <select id="list" resultType="com.ivay.ivay_repository.model.SysUser">
        SELECT t.* FROM sys_user t
        <include refid="list_condition"/>
        ${params.orderBy}
        limit #{offset}, #{limit}
    </select>

    <update id="update">
        update x_audit_user t
        <set>
            <if test="sysUserId != null">
                sys_user_id = #{sysUserId},
            </if>
            <if test="userGid != null">
                user_gid = #{userGid},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="enableFlag != null">
                enable_flag = #{enableFlag},
            </if>
        </set>
        where t.id = #{id}
    </update>

    <select id="getSysUserByRole" resultType="java.lang.String">
        SELECT sru.userId
        FROM sys_role_user sru
        LEFT JOIN sys_role sr ON sru.roleId=sr.id
        LEFT JOIN sys_user su ON sru.userId=su.id
        WHERE sr.enable_flag="Y" AND su.enable_flag="Y"
        <if test="role!=null and role != ''">
            AND sr.name=#{role}
        </if>
    </select>

    <delete id="deleteByBatch">
        UPDATE sys_user su
        LEFT JOIN sys_role_user sru on su.id=sru.userId
        LEFT JOIN x_audit_user xau on su.id=xau.sys_user_id
        SET su.enable_flag='N',sru.enable_flag='N',xau.enable_flag="N"
        WHERE su.id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteUser">
        UPDATE x_audit_user xau
        SET xau.enable_flag='N'
        WHERE xau.user_gid in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
