<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivay.ivay_repository.dao.master.XBaokimTransfersInfoDao">

    <sql id="list_condition">
        <where>
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.requestId != null and params.requestId != ''">
                and request_id = #{params.requestId}
            </if>
            <if test="params.requestTime != null and params.requestTime != ''">
                and request_time = #{params.requestTime}
            </if>
            <if test="params.partnerCode != null and params.partnerCode != ''">
                and partner_code = #{params.partnerCode}
            </if>
            <if test="params.operation != null and params.operation != ''">
                and operation = #{params.operation}
            </if>
            <if test="params.bankNo != null and params.bankNo != ''">
                and bank_no = #{params.bankNo}
            </if>
            <if test="params.accNo != null and params.accNo != ''">
                and acc_no = #{params.accNo}
            </if>
            <if test="params.accName != null and params.accName != ''">
                and acc_name = #{params.accName}
            </if>
            <if test="params.accType != null and params.accType != ''">
                and acc_type = #{params.accType}
            </if>
            <if test="params.referenceId != null and params.referenceId != ''">
                and reference_id = #{params.referenceId}
            </if>
            <if test="params.requestAmount != null and params.requestAmount != ''">
                and request_amount = #{params.requestAmount}
            </if>
            <if test="params.memo != null and params.memo != ''">
                and memo = #{params.memo}
            </if>
            <if test="params.responseCode != null and params.responseCode != ''">
                and response_code = #{params.responseCode}
            </if>
            <if test="params.responseMessage != null and params.responseMessage != ''">
                and response_message = #{params.responseMessage}
            </if>
            <if test="params.transactionId != null and params.transactionId != ''">
                and transaction_id = #{params.transactionId}
            </if>
            <if test="params.transactionTime != null and params.transactionTime != ''">
                and transaction_time = #{params.transactionTime}
            </if>
            <if test="params.transferAmount != null and params.transferAmount != ''">
                and transfer_amount = #{params.transferAmount}
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and create_time = #{params.createTime}
            </if>
            <if test="params.updateTime != null and params.updateTime != ''">
                and update_time = #{params.updateTime}
            </if>
            <if test="params.enableFlag != null and params.enableFlag != ''">
                and enable_flag = #{params.enableFlag}
            </if>
        </where>
    </sql>

    <select id="count" resultType="int">
        select count(1) from x_baokim_transfers_info t
        <include refid="list_condition"/>
    </select>

    <select id="list" resultType="com.ivay.ivay_repository.model.XBaokimTransfersInfo">
        select * from x_baokim_transfers_info t
        <include refid="list_condition"/>
        <if test="params.orderBy != null and params.orderBy != ''">
            order by ${params.orderBy} desc
        </if>
        limit #{offset}, #{limit}
    </select>

    <update id="update">
        update x_baokim_transfers_info t
        <set>
            <if test="requestId != null">
                request_id = #{requestId},
            </if>
            <if test="requestTime != null">
                request_time = #{requestTime},
            </if>
            <if test="partnerCode != null">
                partner_code = #{partnerCode},
            </if>
            <if test="operation != null">
                operation = #{operation},
            </if>
            <if test="bankNo != null">
                bank_no = #{bankNo},
            </if>
            <if test="accNo != null">
                acc_no = #{accNo},
            </if>
            <if test="accName != null">
                acc_name = #{accName},
            </if>
            <if test="accType != null">
                acc_type = #{accType},
            </if>
            <if test="referenceId != null">
                reference_id = #{referenceId},
            </if>
            <if test="requestAmount != null">
                request_amount = #{requestAmount},
            </if>
            <if test="memo != null">
                memo = #{memo},
            </if>
            <if test="responseCode != null">
                response_code = #{responseCode},
            </if>
            <if test="responseMessage != null">
                response_message = #{responseMessage},
            </if>
            <if test="transactionId != null">
                transaction_id = #{transactionId},
            </if>
            <if test="transactionTime != null">
                transaction_time = #{transactionTime},
            </if>
            <if test="transferAmount != null">
                transfer_amount = #{transferAmount},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="enableFlag != null">
                enable_flag = #{enableFlag},
            </if>
        </set>
        where t.id = #{id}
    </update>
</mapper>
