<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivay.ivay_repository.dao.master.XUserRiskDao">

	<update id="updateGpsInfo">
	  update x_user_risk set 
      <if test="longitude!=null and longitude!='' or longitude==0">
      longitude=#{longitude},
      </if>
      <if test="latitude!=null and latitude!='' or latitude==0">
      latitude=#{latitude},
      </if>
      update_time=#{updateTime} 
      where user_gid=#{userGid}
   </update>
   
   <update id="updateOthers">
     update x_user_risk set
      <if test="macAddress!=null and macAddress!=''">
       mac_address=#{macAddress},
      </if>
       <if test="phoneBrand!=null and phoneBrand!=''">
       phone_brand=#{phoneBrand},
      </if>
       <if test="trafficWay!=null and trafficWay!=''">
       traffic_way=#{trafficWay},
      </if>
       update_time=#{updateTime} 
       where user_gid=#{userGid} 
   </update>

</mapper>