<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivay.ivay_repository.dao.master.UserDao">

	<sql id="list_condition">
		<where>
			t.enable_flag = "Y"
			<if test="params.username != null and params.username != ''">
				and t.username like concat('%', #{params.username}, '%')
			</if>
			<if test="params.nickname != null and params.nickname != ''">
				and t.nickname like concat('%', #{params.nickname}, '%')
			</if>
			<if test="params.status != null and params.status != ''">
				and t.status = #{params.status}
			</if>
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from sys_user t
		<include refid="list_condition" />
	</select>

	<select id="list" resultType="com.ivay.ivay_repository.model.SysUser">
		select * from sys_user t
		<include refid="list_condition" />
		${params.orderBy}
		limit #{offset}, #{limit}
	</select>

	<insert id="saveUserRoles">
		insert into sys_role_user(roleId, userId) values
		<foreach collection="roleIds" item="roleId" separator=",">
			(#{roleId}, #{userId})
		</foreach>
	</insert>

	<update id="update">
		update sys_user t
		<set>
			<if test="username != null">
				username = #{username},
			</if>
			<if test="nickname != null">
				nickname = #{nickname},
			</if>
			<if test="headImgUrl != null">
				headImgUrl = #{headImgUrl},
			</if>
			<if test="phone != null">
				phone = #{phone},
			</if>
			<if test="telephone != null">
				telephone = #{telephone},
			</if>
			<if test="email != null">
				email = #{email},
			</if>
			<if test="birthday != null">
				birthday = #{birthday},
			</if>
			<if test="sex != null">
				sex = #{sex},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			updateTime = #{updateTime}
		</set>
		where t.id = #{id}
	</update>

	<select id="getCollectUserNames" resultType="com.ivay.ivay_repository.dto.UserName">
		select distinct su.id,su.username
		from sys_user su
		<if test="role!=null and role != ''">
			inner join sys_role_user sru on sru.userId=su.id
			inner join sys_role sr on sr.id = sru.roleId
		</if>
		where su.status = 1
		<if test="role !=null and role != ''">
			AND CASE #{role}
			WHEN 'collectionPerson' THEN sr.name='collectionPerson'
			WHEN 'collectionAdmin' THEN sr.name in ('collectionAdmin','collectionPerson')
			END
		</if>
	</select>

	<select id="getSalesNames" resultType="com.ivay.ivay_repository.dto.UserName">
		select distinct su.id,su.username
		from sys_user su
		<if test="role!=null and role != ''">
			inner join sys_role_user sru on sru.userId=su.id
			inner join sys_role sr on sr.id = sru.roleId
		</if>
		where su.status = 1
		<if test="role !=null and role != ''">
			AND CASE #{role}
			WHEN 'salesPerson' THEN sr.name='salesPerson'
			WHEN 'salesAdmin' THEN sr.name in ('salesAdmin','salesPerson')
			END
		</if>
	</select>
</mapper>