<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivay.ivay_repository.dao.master.XAuditUserDao">

    <sql id="list_condition">
        LEFT JOIN sys_role_user sru ON t.id = sru.userId
        LEFT JOIN sys_role sr ON sr.id = sru.roleId
        <where>
            <if test="params.role != null and params.role != ''">
                and sr.name = #{params.role}
            </if>
            <if test="params.username != null and params.username != ''">
                and username like concat("%",#{params.username},"%")
            </if>
        </where>
    </sql>

    <select id="count" resultType="int">
        SELECT count(1) FROM sys_user t
        <include refid="list_condition"/>
    </select>

    <select id="list" resultType="com.ivay.ivay_repository.model.SysUser">
        SELECT
            t.*,
            (
                SELECT count(1) FROM x_audit_user xau
                WHERE xau.enable_flag='Y' AND xau.sys_user_id=t.id
                GROUP BY xau.sys_user_id
            ) count
        FROM sys_user t
        <include refid="list_condition"/>
        order by username asc
        <if test="limit != null and limit != 0">
            limit #{offset}, #{limit}
        </if>
    </select>

    <update id="update">
        update x_audit_user t
        <set>
            <if test="sysUserId != null">
                sys_user_id = #{sysUserId},
            </if>
            <if test="userGid != null">
                user_gid = #{userGid},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="enableFlag != null">
                enable_flag = #{enableFlag},
            </if>
        </set>
        where t.id = #{id}
    </update>

    <update id="reAssignAudit">
        update x_audit_user t
        set sys_user_id = #{acceptId}
        where t.sys_user_id = #{handleId} and t.enable_flag = 'Y'
    </update>

    <select id="getSysUserByRole" resultType="java.lang.String">
        SELECT sru.userId
        FROM sys_role_user sru
        LEFT JOIN sys_role sr ON sru.roleId=sr.id
        LEFT JOIN sys_user su ON sru.userId=su.id
        <where>
            <if test="role!=null and role != ''">
                AND sr.name=#{role}
            </if>
        </where>
    </select>

    <delete id="deleteUser">
        UPDATE x_audit_user xau
        SET xau.enable_flag='N'
        WHERE xau.user_gid in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
