<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivay.ivay_repository.dao.master.CustomerDao">

	<sql id="where">
		<where>
		   <if test="params.mobile !='' and params.mobile !=null">
		      and phone like concat('%', #{params.mobile} ,'%')
		   </if>
		   <if test="params.name !='' and params.name !=null">
		      and name like concat('%', #{params.name} ,'%')
		   </if>
		   <if test="params.identityCard !='' and params.identityCard !=null">
		      and identity_card like concat('%', #{params.identityCard} ,'%')
		   </if>
			<if test="params.birthday !=null">
				and birthday like concat('%', #{params.birthday} ,'%')
			</if>
		</where>
	</sql>
	
	<select id="countBasicInfo" resultType="int">
		select count(1) from x_user_info t
		<include refid="where" />
	</select>

	<select id="listBasicInfo" resultType="com.ivay.ivay_repository.model.XUserInfo">
		select * from x_user_info
		<include refid="where" />
		/*ORDER BY */
		limit #{offset}, #{limit}
	</select>
	
	<select id="countContactInfo" resultType="int">
		select count(1) from x_user_ext_info t
		where user_gid = #{params.userGid}
	</select>

	<select id="listContactInfo" resultType="com.ivay.ivay_repository.model.XUserExtInfo">
		select * from x_user_ext_info t
		where user_gid = #{params.userGid} 
		limit #{offset}, #{limit}
	</select>
	
	<select id="countLoan" resultType="int">
		select count(1) from x_record_loan t
		where user_gid = #{params.userGid}
	</select>

	<select id="listLoan" resultType="com.ivay.ivay_repository.dto.XRecordLoan2">
		select * from x_record_loan t
		where user_gid = #{params.userGid} 
		limit #{offset}, #{limit}
	</select>
	
	<select id="countRepay" resultType="int">
		select count(1) from x_record_repayment t1  
        LEFT JOIN x_record_loan t2 ON t1.record_loan_gid = t2.gid
		where t2.user_gid = #{params.userGid}
	</select>

	<select id="listRepay" resultType="com.ivay.ivay_repository.dto.XRecordRepayment2">
		select 	t2.order_id,t1.repayment_amount,t1.end_time,t1.repayment_status from x_record_repayment t1 
		LEFT JOIN x_record_loan t2 ON t1.record_loan_gid = t2.gid 
		where t2.user_gid = #{params.userGid} 
		limit #{offset}, #{limit}
	</select>
	
	
	<select id="countBank" resultType="int">
		select count(1) from x_user_bankcoad_info t1 LEFT JOIN x_bank_info t2 on t1.bank_gid=t2.bank_gid 
		where t1.user_gid = #{params.userGid}
	</select>

	<select id="listBank" resultType="com.ivay.ivay_repository.dto.XUserCardAndBankInfo">
		select t2.bank_no,t2.bank_name,t1.card_no,t1.create_time from x_user_bankcoad_info t1
		LEFT JOIN x_bank_info t2 on t1.bank_gid=t2.bank_gid
		where t1.user_gid = #{params.userGid} 
		limit #{offset}, #{limit}
	</select>
	

</mapper>