<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivay.ivay_repository.dao.master.XRecordRepaymentDao">

    <sql id="list_condition">
        <where>
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.gid != null and params.gid != ''">
                and gid = #{params.gid}
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and create_time = #{params.createTime}
            </if>
            <if test="params.updateTime != null and params.updateTime != ''">
                and update_time = #{params.updateTime}
            </if>
            <if test="params.userGid != null and params.userGid != ''">
                and user_gid = #{params.userGid}
            </if>
            <if test="params.recordLoanGid != null and params.recordLoanGid != ''">
                and record_loan_gid = #{params.recordLoanGid}
            </if>
            <if test="params.repaymentType != null and params.repaymentType != ''">
                and repayment_type = #{params.repaymentType}
            </if>
            <if test="params.repaymentWay != null and params.repaymentWay != ''">
                and repayment_way = #{params.repaymentWay}
            </if>
            <if test="params.repaymentAmount != null and params.repaymentAmount != ''">
                and repayment_amount = #{params.repaymentAmount}
            </if>
            <if test="params.repaymentStatus != null and params.repaymentStatus != ''">
                and repayment_status = #{params.repaymentStatus}
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                and end_time = #{params.endTime}
            </if>
            <if test="params.repaymentOverdueFee != null and params.repaymentOverdueFee != ''">
                and repayment_overdue_fee = #{params.repaymentOverdueFee}
            </if>
            <if test="params.failReason != null and params.failReason != ''">
                and fail_reason = #{params.failReason}
            </if>
        </where>
    </sql>

    <select id="count" resultType="int">
        select count(1) from x_record_repayment t
        <include refid="list_condition"/>
    </select>

    <select id="list" resultType="com.ivay.ivay_repository.model.XRecordRepayment">
        select * from x_record_repayment t
        <include refid="list_condition"/>
        <if test="params.orderBy != null and params.orderBy != ''">
            order by ${params.orderBy} desc
        </if>
        <if test="limit != null and limit != 0">
            limit #{offset}, #{limit}
        </if>
    </select>

    <update id="update">
        update x_record_repayment t
        <set>
            <if test="gid != null">
                gid = #{gid},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="userGid != null">
                user_gid = #{userGid},
            </if>
            <if test="recordLoanGid != null">
                record_loan_gid = #{recordLoanGid},
            </if>
            <if test="repaymentType != null">
                repayment_type = #{repaymentType},
            </if>
            <if test="repaymentWay != null">
                repayment_way = #{repaymentWay},
            </if>
            <if test="repaymentAmount != null">
                repayment_amount = #{repaymentAmount},
            </if>
            <if test="repaymentStatus != null">
                repayment_status = #{repaymentStatus},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="repaymentOverdueFee != null">
                repayment_overdue_fee = #{repaymentOverdueFee},
            </if>
            <if test="failReason != null">
                fail_reason = #{failReason},
            </if>
        </set>
        where t.id = #{id}
    </update>

    <select id="getSelective" resultType="com.ivay.ivay_repository.model.XRecordRepayment">
        select * from x_record_repayment t
        <where>
            1=1 
            <if test="id != null">
             and id = #{id} 
            </if>
            <if test="gid != null">
             and gid = #{gid},
            </if>
            <if test="createTime != null">
             and create_time = #{createTime} 
            </if>
            <if test="updateTime != null">
              and update_time = #{updateTime} 
            </if>
            <if test="userGid != null">
              and user_gid = #{userGid} 
            </if>
            <if test="recordLoanGid != null">
              and record_loan_gid = #{recordLoanGid} 
            </if>
            <if test="repaymentType != null">
              and repayment_type = #{repaymentType} 
            </if>
            <if test="repaymentWay != null">
               and repayment_way = #{repaymentWay} 
            </if>
            <if test="repaymentAmount != null">
               and repayment_amount = #{repaymentAmount} 
            </if>
            <if test="repaymentStatus != null">
               and repayment_status = #{repaymentStatus} 
            </if>
            <if test="endTime != null">
               and end_time = #{endTime} 
            </if>
            <if test="repaymentOverdueFee != null">
               and repayment_overdue_fee = #{repaymentOverdueFee} 
            </if>
            <if test="failReason != null">
               and fail_reason = #{failReason} 
            </if>
         </where>
    </select>

    <sql id="repaymentInfo_condition">
        where xrl.loan_status=1 and xrl.user_gid = t.user_gid AND xrl.repayment_status!=2 AND t.user_gid=#{params.userGid}
        <choose>
            <!-- 逾期1~3天 -->
            <when test="params.type == '0'.toString()">
                AND xrl.due_time &lt; sysdate() AND sysdate() &lt; DATE_ADD(xrl.due_time,INTERVAL 3 DAY)
            </when>
            <!-- 逾期4~10天 -->
            <when test="params.type == '1'.toString()">
                AND xrl.due_time &lt; DATE_ADD(sysdate(),INTERVAL -3 DAY) AND sysdate() &lt; DATE_ADD(xrl.due_time,INTERVAL 10 DAY)
            </when>
            <!-- 逾期超过十天, 不含10天 -->
            <when test="params.type == '2'.toString()">
                AND xrl.due_time &lt; DATE_ADD(sysdate(),INTERVAL -10 DAY)
            </when>
            <otherwise>
                AND xrl.due_time &lt; sysdate()
            </otherwise>
        </choose>
    </sql>

    <select id="countRepaymentInfo" resultType="int">
        select count(1) from (
            SELECT
                t.phone,
                t.name,
                xrl.order_id,
                date_format(xrl.create_time, '%Y-%m-%d') loan_time,
                date_format(due_time, '%Y-%m-%d') due_time,
                xrl.loan_amount loan_amount,
                xrl.due_amount+xrl.overdue_fee+xrl.overdue_interest due_amount_total
            FROM x_record_loan xrl,x_user_info t
            <include refid="repaymentInfo_condition" />
        ) a left join x_virtual_account v on  v.order_id=a.order_id and v.response_code='200'
    </select>

    <select id="listRepaymentInfo" resultType="com.ivay.ivay_repository.dto.XRepaymentAccountInfo">
        select a.*,v.acc_no,v.acc_name from (
            SELECT
                t.phone,
                t.name,
                xrl.order_id,
                date_format(xrl.create_time, '%Y-%m-%d') loan_time,
                date_format(due_time, '%Y-%m-%d') due_time,
                xrl.loan_amount loan_amount,
                xrl.due_amount+xrl.overdue_fee+xrl.overdue_interest due_amount_total
            FROM x_record_loan xrl,x_user_info t
            <include refid="repaymentInfo_condition" />
        ) a left join x_virtual_account v on  v.order_id=a.order_id and v.response_code='200'
        order by due_time asc
        <if test="limit != null and limit != 0">
            limit #{offset}, #{limit}
        </if>
    </select>
</mapper>
