<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivay.ivay_repository.dao.master.XUserExtInfoDao">

    <sql id="list_condition">
        <where>
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.userGid != null and params.userGid != ''">
                and user_gid = #{params.userGid}
            </if>
            <if test="params.majorRelationship != null and params.majorRelationship != ''">
                and major_relationship = #{params.majorRelationship}
            </if>
            <if test="params.majorName != null and params.majorName != ''">
                and major_name = #{params.majorName}
            </if>
            <if test="params.majorPhone != null and params.majorPhone != ''">
                and major_phone = #{params.majorPhone}
            </if>
            <if test="params.bakRelationship != null and params.bakRelationship != ''">
                and bak_relationship = #{params.bakRelationship}
            </if>
            <if test="params.bakName != null and params.bakName != ''">
                and bak_name = #{params.bakName}
            </if>
            <if test="params.bakPhone != null and params.bakPhone != ''">
                and bak_phone = #{params.bakPhone}
            </if>
            <if test="params.photo1Url != null and params.photo1Url != ''">
                and photo1_url = #{params.photo1Url}
            </if>
            <if test="params.photo2Url != null and params.photo2Url != ''">
                and photo2_url = #{params.photo2Url}
            </if>
            <if test="params.photo3Url != null and params.photo3Url != ''">
                and photo3_url = #{params.photo3Url}
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and create_time = #{params.createTime}
            </if>
            <if test="params.updateTime != null and params.updateTime != ''">
                and update_time = #{params.updateTime}
            </if>
            <if test="params.enableFlag != null and params.enableFlag != ''">
                and enable_flag = #{params.enableFlag}
            </if>
        </where>
    </sql>

    <update id="update">
        update x_user_ext_info t
        <set>
            <if test="majorRelationship != null">
                major_relationship = #{majorRelationship},
            </if>
            <if test="majorName != null">
                major_name = #{majorName},
            </if>
            <if test="majorPhone != null">
                major_phone = #{majorPhone},
            </if>
            <if test="bakRelationship != null">
                bak_relationship = #{bakRelationship},
            </if>
            <if test="bakName != null">
                bak_name = #{bakName},
            </if>
            <if test="bakPhone != null">
                bak_phone = #{bakPhone},
            </if>
            <if test="photo1Url != null">
                photo1_url = #{photo1Url},
            </if>
            <if test="photo2Url != null">
                photo2_url = #{photo2Url},
            </if>
            <if test="photo3Url != null">
                photo3_url = #{photo3Url},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="enableFlag != null">
                enable_flag = #{enableFlag},
            </if>
        </set>
        where t.user_gid = #{userGid}
    </update>

    <!--邏輯刪除授信信息-->
    <delete id="delete">
        update x_user_ext_info t set enable_flag = "N" where t.user_gid = #{userGid}
    </delete>

    <select id="getByGid" resultType="com.ivay.ivay_repository.model.XUserExtInfo">
        select
            user_Gid,
            major_Relationship,
            major_Name,
            major_Phone,
            bak_Relationship,
            bak_Name,
            bak_Phone,
            photo1_url,
            photo2_url,
            photo3_url
        from x_user_ext_info xuei where xuei.user_gid = #{userGid} and xuei.enable_flag='Y'
    </select>

    <select id="getRealPhotoUrl" resultType="com.ivay.ivay_repository.model.XUserExtInfo">
        select
            user_Gid,
            major_Relationship,
            major_Name,
            major_Phone,
            bak_Relationship,
            bak_Name,
            bak_Phone,
            (SELECT url from file_info t WHERE t.id=xuei.photo1_url) photo1_url,
            (SELECT url from file_info t WHERE t.id=xuei.photo2_url) photo2_url,
            (SELECT url from file_info t WHERE t.id=xuei.photo3_url) photo3_url
        from x_user_ext_info xuei where xuei.user_gid = #{userGid} and xuei.enable_flag='Y'
    </select>

    <select id="count" resultType="int">
        select count(1) from x_user_ext_info t
        <include refid="list_condition"/>
    </select>

    <select id="list" resultType="com.ivay.ivay_repository.model.XUserExtInfo">
        select * from x_user_ext_info t
        <include refid="list_condition"/>
        <if test="params.orderBy != null and params.orderBy != ''">
            order by ${params.orderBy} desc
        </if>
        <if test="limit != null and limit != 0">
            limit #{offset}, #{limit}
        </if>
    </select>

</mapper>
