<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivay.ivay_app.dao.XUserInfoDao">

    <sql id="list_condition">
        <where>
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.phone != null and params.phone != ''">
                and phone = #{params.phone}
            </if>
            <if test="params.userGid != null and params.userGid != ''">
                and user_gid = #{params.userGid}
            </if>
            <if test="params.name != null and params.name != ''">
                and name = #{params.name}
            </if>
            <if test="params.identityCard != null and params.identityCard != ''">
                and identity_card = #{params.identityCard}
            </if>
            <if test="params.birthday != null and params.birthday != ''">
                and birthday = #{params.birthday}
            </if>
            <if test="params.sex != null and params.sex != ''">
                and sex = #{params.sex}
            </if>
            <if test="params.education != null and params.education != ''">
                and education = #{params.education}
            </if>
            <if test="params.marital != null and params.marital != ''">
                and marital = #{params.marital}
            </if>
            <if test="params.place != null and params.place != ''">
                and place = #{params.place}
            </if>
            <if test="params.income != null and params.income != ''">
                and income = #{params.income}
            </if>
            <if test="params.userStatus != null and params.userStatus != ''">
                and user_status = #{params.userStatus}
            </if>
            <if test="params.accountStatus != null and params.accountStatus != ''">
                and account_status = #{params.accountStatus}
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and create_time = #{params.createTime}
            </if>
            <if test="params.updateTime != null and params.updateTime != ''">
                and update_time = #{params.updateTime}
            </if>
            <if test="params.enableFlag != null and params.enableFlag != ''">
                and enable_flag = #{params.enableFlag}
            </if>
            <if test="params.password != null and params.password != ''">
                and password = #{params.password}
            </if>
            <if test="params.creditLine != null and params.creditLine != ''">
                and credit_line = #{params.creditLine}
            </if>
            <if test="params.creditLineCount != null and params.creditLineCount != ''">
                and credit_line_count = #{params.creditLineCount}
            </if>
            <if test="params.canborrowAmount != null and params.canborrowAmount != ''">
                and canborrow_amount = #{params.canborrowAmount}
            </if>
            <if test="params.transPwd != null and params.transPwd != ''">
                and trans_pwd = #{params.transPwd}
            </if>
        </where>
    </sql>

    <update id="update">
        update x_user_info t
        <set>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="identityCard != null">
                identity_card = #{identityCard},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="education != null">
                education = #{education},
            </if>
            <if test="marital != null">
                marital = #{marital},
            </if>
            <if test="place != null">
                place = #{place},
            </if>
            <if test="income != null">
                income = #{income},
            </if>
            <if test="userStatus != null">
                user_status = #{userStatus},
            </if>
            <if test="accountStatus != null">
                account_status = #{accountStatus},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="creditLine != null">
                credit_line = #{creditLine},
            </if>
            <if test="creditLineCount != null">
                credit_line_count = #{creditLineCount},
            </if>
            <if test="creditLineCount != null">
                credit_line_count = #{creditLineCount},
            </if>
            <if test="canborrowAmount != null">
                canborrow_amount = #{canborrowAmount},
            </if>
            <if test="transPwd != null">
                trans_pwd = #{transPwd},
            </if>
        </set>
        where t.user_gid = #{userGid} and enable_flag = "Y"
    </update>

    <!--邏輯刪除授信信息-->
    <delete id="delete">
        update x_user_info t set enable_flag = "N" where t.user_gid = #{userGid}
    </delete>

    <select id="count" resultType="int">
        select count(1) from x_user_info t
        <include refid="list_condition"/>
    </select>

    <select id="list" resultType="com.ivay.ivay_app.model.XUserInfo">
        select * from x_user_info t
        <include refid="list_condition"/>
        <if test="params.orderBy != null and params.orderBy != ''">
            order by ${params.orderBy} desc
        </if>
        <if test="limit != null and limit != 0">
            limit #{offset}, #{limit}
        </if>
    </select>

    <sql id="audit_list_condition">
        <where>
            xui.user_status >=2 and xui.account_status=0
            <if test="params.phone != null and params.phone != ''">
                and xui.phone like concat("%",#{params.phone},"%")
            </if>
            <if test="params.userGid != null and params.userGid != ''">
                and xui.user_gid like concat("%", #{params.userGid},"%")
            </if>
            <if test="params.name != null and params.name != ''">
                and xui.name like concat("%", #{params.name},"%")
            </if>
            <if test="params.auditStatus != null and params.auditStatus != ''">
                <if test="params.auditStatus!= '3'.toString()">
                    and xui.user_status = #{params.auditStatus}
                </if>
                <if test="params.auditStatus == '3'.toString()">
                    and "3456" like concat("%", xui.user_status,"%")
                </if>
            </if>
            <if test="params.fromTime != null ">
                and unix_timestamp(xuei.update_time) >= unix_timestamp(#{params.fromTime})
            </if>
            <if test="params.toTime != null ">
                and unix_timestamp(#{params.toTime}) >= unix_timestamp(xuei.update_time)
            </if>
        </where>
    </sql>

    <select id="auditCount" resultType="int">
        select count(1)
        from x_user_info xui
        left JOIN x_user_ext_info xuei
        ON xui.user_gid=xuei.user_gid
        <include refid="audit_list_condition"/>
    </select>

    <select id="auditList" resultType="com.ivay.ivay_app.dto.XAuditCondition">
        select xui.user_gid,xui.name,xui.phone,
        case xui.user_status
        WHEN '2' THEN '2'
        WHEN '3' THEN '3'
        WHEN '4' THEN '3'
        WHEN '5' THEN '3'
        WHEN '6' THEN '3'
        WHEN '7' THEN '7'
        END audit_status,xuei.update_time create_time
        from x_user_info xui
        left JOIN x_user_ext_info xuei
        ON xui.user_gid=xuei.user_gid
        <include refid="audit_list_condition"/>
        <if test="params.orderBy != null and params.orderBy != ''">
            order by ${params.orderBy} desc
        </if>
        <if test="limit != null and limit != 0">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="auditDetail" parameterType="java.lang.String" resultType="com.ivay.ivay_app.dto.XAuditDetail">
        select xui.user_gid,xui.phone,xui.identity_card,xui.name,xui.birthday, xui.sex,
        fi1.url photo1_url,fi2.url photo2_url, fi3.url photo3_url
        from x_user_info xui
        left JOIN x_user_ext_info xuei ON xui.user_gid=xuei.user_gid
        left JOIN file_info fi1 ON fi1.id=xuei.photo1_url
        left JOIN file_info fi2 ON fi2.id=xuei.photo2_url
        left JOIN file_info fi3 ON fi3.id=xuei.photo3_url
        where xui.user_gid=#{userGid}
    </select>
</mapper>
