<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivay.ivay_app.dao.XUserContactsDao">

	<sql id="where">
		<where>
			<if test="params.id != null and params.id != ''">
				and id = #{params.id} 
			</if>
			<if test="params.userGid != null and params.userGid != ''">
				and user_gid = #{params.userGid} 
			</if>
			<if test="params.updateDate != null and params.updateDate != ''">
				and update_date = #{params.updateDate}
			</if>
			<if test="params.contactName != null and params.contactName != ''">
				and contact_name = #{params.contactName}
			</if>
			<if test="params.phoneNumber != null and params.phoneNumber != ''">
				and phone_number = #{params.phoneNumber} 
			</if>
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from x_user_contacts t
		<include refid="where" />
	</select>

	<select id="list" resultType="com.ivay.ivay_app.model.XUserContacts">
		select * from x_user_contacts t
		<include refid="where" />
		order by ${params.orderBy}
		limit #{offset}, #{limit}
	</select>

	<update id="update">
		update x_user_contacts t
		<set>
			<if test="userGid != null">
				user_gid = #{userGid}, 
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate},
			</if>
			<if test="contactName != null">
				contact_name = #{contactName}, 
			</if>
			<if test="phoneNumber != null">
				phone_number = #{phoneNumber}, 
			</if>

		</set>

		where t.id = #{id}
	</update>
	<!-- myself:批量插入 -->
	<insert id="insertBatchContacts" parameterType="java.util.List">
		insert into x_user_contacts  (user_gid, update_date, contact_name, phone_number) values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.userGid,jdbcType=VARCHAR},
			#{item.updateDate,jdbcType=VARCHAR},
			#{item.contactName,jdbcType=VARCHAR},
			#{item.phoneNumber,jdbcType=VARCHAR})
		</foreach>
	</insert>
</mapper>
